:root{
    --main-color : #583012;
    --main-color-2 :#a86e45;
    --second-color : #b4b6b5;
    --white : #fffffd;
}
::-webkit-scrollbar{
    width: 0;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: "Lateef", serif;
    font-style: normal;
}
p{
    direction: rtl;
    line-height: 40px;
    word-spacing: 3px;
}
/* Start Landing section */
.landing-page{
    min-height: 100vh;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.landing-page .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
    z-index: 1;
}
.landing-page header{
    width: 100%;
    color: #fff;
    z-index: 2;
    position: fixed;
    display: flex;
}
.landing-page header .logo img{
    width: 90px;
    height: 50px;
    border-radius: 25%;
    margin: 10px;
}
.landing-page header nav{
    visibility: hidden; /*nav button*/
}
.landing-page header .links{
    list-style: none;
    padding: 15px 20px 0 0;
    width: 100%;
    text-align: right;
    font-size: 25px;
}
.landing-page header .links li{
    display: inline-block;
    margin-left: 20px;
    text-transform: capitalize;
}
.landing-page header .links li:hover{
    font-size: 27px;
    transform: translateY(-6px);
    transition: all 0.5s;
}
.landing-page header .links li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.landing-page header .links li a:hover,
.landing-page header .links li a.active{
    color: var(--main-color);
}
.landing-page header button{
    visibility: hidden;
}
.landing-page .bio{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    min-width: 350px;
    max-height: 200px;
}
.landing-page .bio h1{
    margin-bottom: 5px;
    font-size: 55px;
    color: var(--main-color-2);
}
.landing-page .bio p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 1.6;
}
/* End Landing section */

/* Start book section */
#book{
    height: 100vh;
    background-image: url(../images/book.jpg);
    background-size: cover;
    display: flex;
}

.card {
    min-width: 290px;
    height: 400px;
    perspective: 1000px;
    margin: auto 50px;
}

.card-inner {    
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    color: var(--white);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.card-front{
    background-image: url(../images/landingPageBook.jpg);
    background-size: cover;
}
.card-back{
    transform: rotateY(180deg);
    padding: 20px;
    background-color: #363241;
}
.card-back p{
    font-size: 30px;
    text-align: right;
}
.card-back ul{
    list-style: none;
    direction: rtl;
}
.card-back ul li{
    margin: 10px;
}
#book .text{
    margin: auto 10px;
}
#book .text p{
    text-align: right;
    color: var(--white);
    font-weight: 400;
    font-size: 40px;
}
/* End book section */




/* Start Animations */

/* End Animations */


@media (max-width : 1024px){
    /* Start landing page section in sm-screen */
    .landing-page header .logo img{
        margin-top: 25px;
    }
    .landing-page header .links{
        visibility: hidden;
    }
    .landing-page header button{
        font-size: 30px;
        color: var(--white);
        background-color: transparent;
        border: none;
        visibility: visible;
        margin: 10px;
    }
    .landing-page header button:hover{
        color: var(--main-color);
        cursor: pointer;
    }
    .landing-page header{
        position: relative;
    }
    .landing-page header nav{
        width: 25%;
        color: var(--white);
        background-color: var(--main-color-2);
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 10px 0 0 10px;
        transition: all 0.5s;
    }
    .landing-page header nav ul{
        list-style: none;
    }
    .landing-page header nav ul li{
        margin: 10px;
    }
    .landing-page header nav ul li a{
        text-decoration: none;
        color: var(--white);
    }
    .landing-page header nav ul li a:hover,
    .landing-page header nav ul li a.active{
        color: var(--main-color);
        transition: all .6s;
    }
    .landing-page header nav ul li a:hover{
        transform: scale(2);
    }
    .landing-page .bio p{
        line-height: 30px;
        font-size: 20px;
    }
    /* End landing page section in sm-screen */
    /* Start book section in sm-screen */
    #book{
        flex-wrap: wrap;
        height: 100vh;
    }
    .card{
        margin: 25px auto;
    }
    #book .text{
        margin: 10px;
    }
    #book .text p{
        font-size: 25px;
    }
    /* End book section in sm-screen */
}